{% extends 'backoffice/base-adminlte.html' %}
{% load static %}
{% load tags_courses %}
{% load static widget_tweaks %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'adminlte/plugins/datatables/datatables.min.css' %}"/>
{% endblock  %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <!-- Filter form -->
            <form method="GET" >
                <div class="form-group row">
                    {% for field in form %}
                        <div class="form-group col-md-3">
                            {% render_field field|add_class:"form-control"%}
                            <span class="help_text">
                                {{ field.errors }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-pill">Menyaring</button>
                    </div>
                </div>
            </form>
            <!-- end filter form -->
        </div>
        <div class="card-body">
            <table id="datatable" class="table table-striped">
                <thead>
                    <th>Nama</th>
                    <th>Username</th>
                    <th>Kursus</th>
                    <th>Angkatan</th>
                    <th>Tanggal Mendaftar</th>
                    <th>Tanggal Menyelesaikan</th>
                    <th>Aksi</th>
                </thead>
                <tbody>
                    {% for graduate in graduates %}
                        <tr>
                            <td>{{ graduate.user.get_full_name }}</td>
                            <td>{{ graduate.user.username }}</td> 
                            <td>{{ graduate.course.title }}</td>
                            <td>Angkatan {{ graduate.batch.batch }}</td>
                            <td>{{ graduate.date_enrollment }}</td>  
                            <td>{{ graduate.finishing_date }}</td>   
                            <td>
                                <a class="btn btn-sm btn-pill bg-navy" href="{% url 'backoffice:graduates:regenerate_certificate' graduate.user.nolsatu.id_nolsatu %}">Perbarui Sertifikat</a>
                            </td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').DataTable();
        filterBatch();
    })

    $('#id_course').on('change', function() {
        filterBatch();      
    });

    function filterBatch(){
        var id_batch = $('#id_batch').val();
        var list_batch = $('#id_batch');
        var course = $('#id_course').val();
        $.ajax({
            url: '{% url "backoffice:graduates:ajax_filter_batch" %}',
            data: {
                'course': course
            },
            dataType: 'json',
            success: function (data) {
                list_batch.html("'<option value=''>Pilih Angkatan</option>'");  
                $.each(data.batch, function(key,value) {
                    if(id_batch == value.id){
                        list_batch.append(
                            '<option value="'+value.id+'" selected>Angkatan '+value.batch+'</option>'
                        ); 
                    }else{
                        list_batch.append(
                            '<option value="'+value.id+'">Angkatan '+value.batch+'</option>'
                        ); 
                    }                      
                });                      
            },
            error: function (data) {
                if (data.status == 500) {
                    alert("Terjadi kesalahan, mohon refresh halaman.");
                }
            }
        }); 
    }
</script>
{% endblock %}