{% extends 'backoffice/base-adminlte.html' %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <span class="float-right">
                <a href="{% url 'backoffice:vouchers:add' %}" class="btn btn-sm btn-info"><i class="fas fa-plus"></i> Tambah Kupon</a>
            </span>
        </div>
        <div class="card-body">
            <table id="datatable" class="table table-striped">
                <thead>
                    <th>Kode Kupon</th>
                    <th>Jumlah</th>
                    <th>Produk</th>
                    <th>Berlaku</th>
                    <th>Berakhir</th>
                    <th class="text-center">Aksi</th>
                </thead>
                <tbody>
                    {% for v in vouchers %}
                        <tr>
                            <td><a href="{% url 'backoffice:vouchers:detail' v.id %}" >{{ v.code }}</a></td>
                            <td>{{ v.qty }}</td>
                            <td>{{ v.get_products }}</td>
                            <td>{{ v.start_date|date:'d M Y' }}</td>
                            <td>{{ v.end_date|date:'d M Y' }}</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-pill btn-secondary" href="">
                                    <i class="fas fa-edit"></i> Edit</a>
                                <a href="#" class="btn btn-sm btn-pill btn-secondary" data-toggle="modal"
                                   data-target="#confirmDeleteModal" data-delete-url="{% url 'backoffice:vouchers:delete' v.id %}"
                                   data-name="{{ v.code }}"> <i class="fas fa-trash"></i> Hapus</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin ingin menghapus kupon <strong id="confirmDeleteName"></strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <a id="confirmDeleteButton" class="btn btn-success" >Ya</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').DataTable();
        $('#confirmDeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.data('delete-url');
            var name = button.data('name');

            var modal = $(this);
            modal.find('#confirmDeleteButton').attr("href", url);
            modal.find('#confirmDeleteName').html(name);
        })
    })
</script>
{% endblock %}