{% extends 'backoffice/base-adminlte.html' %}
{% load static %}
{% load tags_courses %}

{% block extra_css %}
<style>
thead input {
    width: 100%;
}
</style>
<link href="{% static 'adminlte/plugins/toastr/toastr.css' %}" rel="stylesheet"/>
{% endblock  %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="float-left">{{ title }}</h4>
        </div>
        <div class="card-body">
            <table id="datatable" class="table table-striped">
                <thead>
                    <th>ID Pendaftar</th>
                    <th>Nama</th>
                    <th>Username</th>
                    <th>Kursus</th>
                    <th>Angkatan</th>
                    <th>Status</th>
                    <th>Tanggal Mendaftar</th>
                    <th>Tanggal Menyelesaikan</th>
                    <th>Akses</th>
                </thead>
                <tbody>
                    {% for registrants in registrants %}
                        <tr>
                            <td>{{ registrants.id }}</td>
                            <td>{{ registrants.user.first_name }} {{ registrants.user.last_name }}</td>
                            <td>{{ registrants.user.username }}</td>                         
                            <td>{{ registrants.course }}</td>
                            <td id="batch-{{registrants.id}}">{{ registrants.batch.batch }}</td>
                            <td>{{ registrants.status|enrollment_status_display:'True' }}</td>                       
                            <td>{{ registrants.date_enrollment }}</td>                               
                            <td>{{ registrants.finishing_date|default_if_none:"-" }}</td>                               
                            <td align="center">
                                <div class="custom-control custom-switch" id="btn-status-{{registrants.id}}">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch{{registrants.id}}" onchange="setAkses('{{registrants.id}}','{{registrants.allowed_access}}')" {% if registrants.allowed_access %} checked {% endif %}>
                                    <label class="custom-control-label" for="customSwitch{{registrants.id}}"></label>
                                </div>      
                            </td>        
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>

<div class="modal fade" id="confirmAkses" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Apakah Anda yakin?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="unChangeStatus()">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Mengubah status menjadi <strong><span class="statusRegistrants"></span></strong>?</p>
                <input type="hidden" id="idRegistrants">
                <input type="hidden" id="statusRegistrants">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="unChangeStatus()">Tutup</button>
                <button class="btn btn-primary" onclick="changeStatus()">Ubah Status</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'adminlte/plugins/toastr/toastr.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {      
        toastr.options = {
            "showDuration": "10000",
            "hideDuration": "10000",
            "timeOut": "50000",
            "extendedTimeOut": "30000"
        }
        // Setup - add a text input to each footer cell
        $('#datatable thead tr').clone(true).appendTo( '#datatable thead' );
        $('#datatable thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            if(title == "Nama" || title == "Username" || title == "Kursus" || title == "Angkatan"){
                $(this).html( '<input type="text" placeholder="Cari '+title+'" />' );
        
                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                } );
            }else{
                $(this).html( '' );
            }
        } );
    
        var table = $('#datatable').DataTable( {
            orderCellsTop: true,
            fixedHeader: true
        } );
    })

    function setAkses(id, status){
        $('#idRegistrants').val(id);
        if(status == 'False'){
            $('.statusRegistrants').html("Diijinkan");
            $('#statusRegistrants').val("True");
        }
        else if(status == "True"){
            $('.statusRegistrants').html("Tidak Diijinkan");
            $('#statusRegistrants').val("False");
        }
        $('#confirmAkses').modal('show');
    }

    function changeStatus(){
        $('#confirmAkses').modal('hide');
        var id = $('#idRegistrants').val();
        var status = $('#statusRegistrants').val();
        var btn_status = $('#btn-status-'+id);
        $.ajax({
            url: "{% url 'backoffice:courses:ajax_change_status_registrants' %}",
            data: {
                'id': id,
                'status': status
            },
            dataType: 'json',
            success: function (data) {
                console.log(data.status);
                if(data.status == true){
                    $('#batch-'+id).html(data.batch);
                    btn_status.html("");  
                    if(status == "True"){
                        btn_status.append(
                            '<input type="checkbox" class="custom-control-input" id="customSwitch'+id+'" onchange="setAkses('+id+','+"'True'"+')" checked>'+
                            '<label class="custom-control-label" for="customSwitch'+id+'"></label>'
                        ); 
                    }else if(status == "False"){
                        btn_status.append(
                            '<input type="checkbox" class="custom-control-input" id="customSwitch'+id+'" onchange="setAkses('+id+','+"'False'"+')">'+
                            '<label class="custom-control-label" for="customSwitch'+id+'"></label>'
                        ); 
                    }
                    toastr.success(data.message);
                }else{
                    btn_status.html(""); 
                    if(status == "True"){
                        btn_status.append(
                            '<input type="checkbox" class="custom-control-input" id="customSwitch'+id+'" onchange="setAkses('+id+','+"'False'"+')">'+
                            '<label class="custom-control-label" for="customSwitch'+id+'"></label>'
                        ); 
                    }else if(status == "False"){
                        btn_status.append(
                            '<input type="checkbox" class="custom-control-input" id="customSwitch'+id+'" onchange="setAkses('+id+','+"'True'"+')" checked>'+
                            '<label class="custom-control-label" for="customSwitch'+id+'"></label>'
                        ); 
                    }
                    toastr.error(data.message);
                }
            },
            error: function (data) {
                btn_status.html(""); 
                if(status == "True"){
                    btn_status.append(
                        '<input type="checkbox" class="custom-control-input" id="customSwitch'+id+'" onchange="setAkses('+id+','+"'False'"+')">'+
                        '<label class="custom-control-label" for="customSwitch'+id+'"></label>'
                    ); 
                }else if(status == "False"){
                    btn_status.append(
                        '<input type="checkbox" class="custom-control-input" id="customSwitch'+id+'" onchange="setAkses('+id+','+"'True'"+')" checked>'+
                        '<label class="custom-control-label" for="customSwitch'+id+'"></label>'
                    ); 
                }
                alert("Terjadi kesalahan, mohon refresh halaman.");
            }
        }); 
    }

    function unChangeStatus(){
        $('#confirmAkses').modal('hide');
        var id = $('#idRegistrants').val();
        var status = $('#statusRegistrants').val();
        var btn_status = $('#btn-status-'+id);
        btn_status.html("");  
        if(status == "True"){
            btn_status.append(
                '<input type="checkbox" class="custom-control-input" id="customSwitch'+id+'" onchange="setAkses('+id+','+"'False'"+')">'+
                '<label class="custom-control-label" for="customSwitch'+id+'"></label>'
            ); 
        }else if(status == "False"){
            btn_status.append(
                '<input type="checkbox" class="custom-control-input" id="customSwitch'+id+'" onchange="setAkses('+id+','+"'True'"+')" checked>'+
                '<label class="custom-control-label" for="customSwitch'+id+'"></label>'
            ); 
        }
    }
</script>
{% endblock %}