Django==2.2.13

django-model-utils==3.1.2
Pillow==5.1.0
django-extensions==2.0.7

psycopg2==2.7.5
django-taggit==1.1.0

django-ckeditor==5.7.1
django-widget-tweaks==1.4.5
django-debug-toolbar==2.2

django-redis-sessions==0.6.1
django-redis==4.10.0

requests==2.22.0

djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
drf-yasg==1.17.1
sentry-sdk==0.14.3
django-markdownx==3.0.1
Pygments==2.7.4
pdfkit==0.6.1
sorl-thumbnail

git+ssh://git@go.btech.id/dev/fortuna-client.git@0.1.0

#alert
sweetify==2.0.0

django-meta ~= 1.7.0
