{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-{{ sidebar_color }}-{{ color_theme }}">
    <!-- Brand Logo -->
    <!-- Brand Logo -->
    <a href="{% url 'website:index' %}" class="brand-link">
      <img src="{{ brand_logo }}" alt="{{ brand }} Logo" class="brand-image"
           style="opacity: .8">
      <span class="brand-text font-weight-bold color-white" style="font-size:88%">{{ brand }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{{ user.nolsatu.avatar }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">{{ user }}</a>
        </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="{% url 'backoffice:index' %}" class="nav-link {% if menu_active == 'dashboard' %}active{% endif %}">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item {% if menu_active == 'course' %}has-treeview menu-open{% endif %}">
                <a href="#" class="nav-link {% if menu_active == 'course' %}active{% endif %}">
                    <i class="nav-icon fas fa-id-card"></i>
                    <p>Kursus<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'backoffice:courses:index' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Daftar Kursus</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:courses:add' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tambah Kursus</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="{% url 'backoffice:courses:registrants' %}" class="nav-link {% if menu_active == 'registrants' %}active{% endif %}">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Pendaftar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'backoffice:tasks:index' %}" class="nav-link {% if menu_active == 'task' %}active{% endif %}">
                    <i class="nav-icon fas fa-file"></i>
                    <p>Periksa Tugas</p>
                </a>
            </li>
            <li class="nav-item {% if menu_active == 'graduate' %}has-treeview menu-open{% endif %}">
                <a href="#" class="nav-link {% if menu_active == 'graduate' %}active{% endif %}">
                    <i class="nav-icon fas fa-user-graduate"></i>
                    <p>Lulusan<i class="right right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'backoffice:graduates:candidate' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Kandidat</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:graduates:index' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Data Lulusan</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="{% url 'backoffice:batchs:index' %}" class="nav-link {% if menu_active == 'batch' %}active{% endif %}">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>Angkatan</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link {% if menu_active == '' %}active{% endif %}">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>Keluar</p>
                </a>
            </li>

            <li class="nav-header">Admin Panel</li>
            <li class="nav-item">
                <a href="{{ nolsatu_home_page_url }}/backoffice" class="nav-link {% if menu_active == '' %}active{% endif %}">
                    <i class="nav-icon fas fa-user-cog"></i>
                    <p>Backoffice Academy</p>
                </a>
            </li>

        </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
