{% load static tags_courses %}

<div class="card" style="width: 100%;min-height: 400px;max-height: 450px;overflow: hidden;">
    <a href="{% url 'website:courses:details' course.slug %}">
        <div style="width: 100%;height: 200px;overflow: hidden;">
            {% if course.status == 1 %}
                <span class="badge badge-pill badge-danger float-right" style="position: absolute; top: 10px; left: 10px;">{{ course.get_status_display }}</span>
            {% endif %}
            {% if course.featured_image %}
                <img class="card-img-top" src="{{ course.featured_image.url }}" alt="{{ course.featured_image.name}}">
            {% endif %}
        </div>
        <div class="card-body text-dark">
            <h4>{{ course.title }}</h4>
            {% if "MARKDOWN_CONTENT"|get_toggle %}
                {{ course.short_description_md|show_markdown|safe|truncatechars:100 }}
            {% else %}
                {{ course.short_description|safe|truncatechars:100 }}
            {% endif %}
        </div>
    </a>
</div>