{% load static tags_courses %}

<div class="col-sm-6 col-lg-4 mb-5 pb-5">
    <div class="single_special_cource">
        {% if course.course.status == 1 %}
            <span class="badge badge-pill badge-danger float-right" style="position: absolute; top: 10px; left: 25px;">{{ course.course.get_status_display }}</span>
        {% endif %}
        {% if course.course.featured_image %}
            <img class="special_img" src="{{ course.course.featured_image.url }}" alt="{{ course.course.featured_image.name}}" style="width: 100%;">
        {% endif %}        
        <div class="special_cource_text">
            <div class="text-dark">
                <span class="">Progress {{ course.progress_precentage }}% {% if course.progress_precentage == 100 %}, Keren! {% endif %}</span>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="{{ course.progress_precentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ course.progress_precentage }}%"></div>
                </div>
                {{ course.status_enroll|enrollment_status_display:'True' }}
            </div>
            <a href="{% url 'website:modules:details' course.course.get_first_module.slug %}">
                <h3>{{ course.course.title }}</h3>
            </a>
            <p>
                {% if "MARKDOWN_CONTENT"|get_toggle %}
                    {{ course.course.short_description_md|show_markdown|safe|truncatechars:100 }}
                {% else %}
                    {{ course.course.short_description|safe|truncatechars:100 }}
                {% endif %}
            </p>
        </div>

    </div>
</div>