{% load static %}

<div class="col-md-4">
    <!-- DIRECT CHAT -->
    <div class="card position-sticky sticky-top direct-chat direct-chat-warning">
        <div class="card-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages" style="height:400px;">
            <ul class="products-list product-list-in-card pl-2 pr-2">
                {% for mod in module.course.modules.all %}
                    <li class="item">
                        <h5 class="text-muted">{{ mod.title }}</h5>
                    </li>
                    {% for sect in mod.sections.all %}
                    <li class="item">                            
                        <h6 class="ml-3 text-muted">{{ sect.title }}</h6>
                    </li>
                    {% endfor %}
                {% endfor %}
                <li></li>
            </ul>
        </div>
        <!--/.direct-chat-messages-->

        </div>
        <!-- /.card-body -->
    </div>
    <!--/.direct-chat -->
</div>