{% load static widget_tweaks tags_courses %}

{% if section.is_task %}
    <hr>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Tugas</h3>
        </div>
        <div class="card-body">
            <div class="alert alert-danger alert-dismissible">
                <h5><i class="icon fas fa-info"></i> Mohon Maaf!</h5>
                Silahkan upload ulang tugas Anda
            </div>
        </div>

        <!-- form start -->
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}            
            <div class="card-body">
                {{ form.media }}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <div class="col-md-12">
                        {% if "MARKDOWN_CONTENT"|get_toggle %}
                            {{ section.task_setting.instruction_md|show_markdown|safe }}
                        {% else %}
                            {{ section.task_setting.instruction|safe }}
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        {% render_field form.file %}
                        {% render_field form.name %}
                        <small class="form-text text-muted">{{ form.file.help_text }}</small>
                        <small class="form-text text-danger">{{ form.file.errors }}</small>
                    </div>
                    <small class="col-md-12 form-text text-muted">Maksimum file:<span class="text-danger"> {{ section.task_setting.max_size }} MB</span></small>
                    <small class="col-md-12 form-text text-muted">Ekstensi file:<span class="text-danger"> {{ section.task_setting.allowed_extension.all|join:', ' }} </span></small>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn bg-olive">Submit</button>
            </div>
        </form>    
    </div>
{% endif %}