{% load static widget_tweaks tags_courses %}

{% if section.is_task %}
    <hr>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Tugas</h3>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                {% if "MARKDOWN_CONTENT"|get_toggle %}
                    {{ section.task_setting.instruction_md|show_markdown|safe }}
                {% else %}
                    {{ section.task_setting.instruction|safe }}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}