{% load static %}

<div class="card-header">
    {% if user.is_authenticated %}   
        {% if pagination.prev %}
            <a {% if pagination.prev_type == 'module' %} href="{% url 'website:modules:details' pagination.prev.slug %}" {% else %} href="{% url 'website:sections:details' pagination.prev.slug %}" {% endif %} class="btn bg-maroon"><i class="fas fa-arrow-circle-left"></i> Materi Sebelumnya</a>  
        {% endif %}
        {% if pagination.next %}
            <a {% if pagination.next_type == 'module' %} href="{% url 'website:modules:details' pagination.next.slug %}" {% else %} href="{% url 'website:sections:details' pagination.next.slug %}" {% endif %} class="btn bg-maroon float-right">Materi Selanjutnya <i class="fas fa-arrow-circle-right"></i></a> 
        {% else %}
            <a href="{% url 'website:courses:finish' section.module.course.slug %}" class="btn bg-maroon float-right">Ye, Selesai <i class="fas fa-arrow-circle-right"></i></a> 
        {% endif %}
    {% endif %}                     
</div>