{% load static tags_courses %}

<div class="popout d-mobile">
    <div class="popout-btn">
        <i class="fas fa-list"></i>
    </div>
    <div class="panel">
        <div class="panel-header">
            <div class="row">
                <h5 class="col-10"><strong>Daftar Materi</strong></h5>            
                <button class="close col-2">
                    <span class="text-white">&times;</span>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <input type="text" class="keySearch" id="keySearchMobile" onkeyup="searchContentMobile()" placeholder="Cari materi">
            <div class="card position-sticky sticky-top direct-chat direct-chat-warning card-content-list" id="accordion">
                <div style="height:auto;">
                    <ul class="products-list product-list-in-card" id="listContentMobile">
                        {% for mod in module_all %}
                            <li class="item p-3 {%if mod.slug == module.slug and not section %}bg-blue-adinusa text-white{% endif %}" id="heading_{{mod.id}}">
                                <div class="card-tools row">
                                    {% if mod.sections.all %}
                                    <!-- Collapse Button -->
                                    <button type="button" class="btn btn-tool btn-sm col-1 btn-collapse {%if mod.slug == module.slug and not section %}active{% endif %}"  data-toggle="collapse" data-target="#collapse_{{mod.id}}" aria-expanded="true" aria-controls="collapse_{{mod.id}}"><i class="fas {%if section.module.slug == mod.slug or mod.slug == module.slug %}fa-minus{%else%}fa-plus{% endif %}"></i></button>
                                    {% else %}
                                    <div class="offset-1"></div>
                                    {% endif %}
                                    <div class="col-11">
                                        {% if mod|on_activity:user %}
                                            <h5 {%if mod.slug == module.slug %}style="font-weight: bold;"{% endif %}>
                                                <a href="{% url 'website:modules:details' mod.slug %}" class="{%if mod.slug == module.slug and not section %}text-white{% else %}text-info{% endif %}">{{ mod.title }}</a>
                                                <i class="{%if mod.slug == module.slug and not section %}text-white{% else %}text-success{% endif %} float-right fa fa-xs fa-check"></i>
                                            </h5>
                                        {% else %}
                                            <h5 class="text-muted">{{ mod.title }}</h5>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
            
                            {% if mod.sections.all %}
                            <div id="collapse_{{mod.id}}" class="collapse {%if section.module.slug == mod.slug or mod.slug == module.slug %}show{% endif %}" aria-labelledby="heading_{{mod.id}}" data-parent="#accordion">
                                {% for sect in mod.sections.all %}
                                <li class="item p-3 {%if sect.slug == section.slug %}bg-blue-adinusa text-white{% endif %}"> 
                                    <div class="card-body">
                                        {% if sect|on_activity:user %}
                                            <div class="row">
                                                <span class="offset-2"></span>
                                                <h6 class="col-9" {%if sect.slug == section.slug %}style="font-weight: bold;"{% endif %}>
                                                    <a href="{% url 'website:sections:details' sect.slug %}" class="{%if sect.slug == section.slug and section %}text-white{% else %}text-info{% endif %}">{{ sect.title }}</a>
                                                </h6>
                                                <h5 class="col-1 float-right"><i class="{%if sect.slug == section.slug and section %}text-white{% else %}text-success{% endif %} float-right fa fa-xs fa-check"></i></h5>
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <span class="offset-md-2"></span>
                                                <h6 class="col-10 text-muted">{{ sect.title }}</h6>
                                            </div>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <li></li>
                    </ul>
                </div>
            </div>   
        </div>
    </div>
</div>
