<div class="card position-sticky sticky-top" id="sticky-sidebar">
    <h5><div class="card-header">Sidebar <i class="float-right fas fa-bookmark"></i></div></h5>
    <div class="card-body">
        <p class="pb-2">Kategori: <strong class="text-info"> {{ course.category_list|capfirst }}</strong></p>
        <p class="pb-2">Level: <strong class="text-info"> {{ course.get_level_display }}</strong></p>
        <p class="pb-2">Angkatan: <strong class="text-info"> {{ batch.batch }}</strong></p>
        <p class="pb-2">Mulai: <strong class="text-info"> {{ batch.start_date }}</strong></p>
        <p class="pb-3">Berakhir: <strong class="text-info"> {{ batch.end_date }}</strong></p>
        {% if has_enrolled %}
            {% if enroll.finishing_date %}
                <div class="alert alert-success" >
                    Yeey, kamu sudah menyelesaikan semua materi pada tanggal {{ enroll.finishing_date }}. 
                    Tetap pantau tugas kamu ya, pastikan kamu lulus disemua tugas supaya bisa dapat sertifikat.<br><br> 
                    Klik <a href="{% url 'website:modules:details' course.get_first_module.slug %}" >disini</a> untuk melihat semua materi.
                </div>
            {% elif enroll.get_status_display == 'Daftar' %}
                <div class="alert alert-success" >
                    Kamu sudah terdaftar dikelas ini. Kami harus menyeleksi semua pendaftar yang masuk sebelum kelas dimulai. Tunggu info selanjutnya ya.
                </div>
            {% else %}
                <div class="alert alert-warning" >
                    Kamu sudah terdaftar dikelas ini, klik <a href="{% url 'website:modules:details' course.get_first_module.slug %}" >disini</a> untuk memulai atau melanjutkan kelasmu
                </div>
            {% endif %}
        {% else %}
            {% if batch and not course.is_started %}
                <a href="{% url 'website:courses:enroll' course.slug %}" class="btn btn-info" style="color:white;" >Ikuti kelas ini</a>
            {% elif not course.is_started %}
                <div class="alert alert-danger" >
                    Maaf, kelas ini belum membuka pendafaran.
                </div>
            {% elif course.is_started %}
                <div class="alert alert-warning" >
                    Maaf, kelas sudah dimulai.
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>