{% extends 'teachersroom/base-adminlte.html' %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    {% for teach in teaches %}
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{ teach.batch }}
                                    </h3>
                                    <div class="card-tools">
                                        <span class="badge badge-primary">{{ teach.batch.enrollments.count }} Peserta</span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {% if teach.batch.course %}
                                        <img
                                                class="card-img-top"
                                                src="{{ teach.batch.course.get_featured_image_url }}"
                                                alt="{{ teach.batch.course.featured_image.name }}"
                                        />
                                        <h3>
                                            <a href="{% url 'website:courses:details' teach.batch.course.slug %}">
                                                {{ teach.batch.course }}
                                            </a>
                                        </h3>
                                        <p> {{ teach.batch.course.short_description|safe }} </p>
                                        <dl>
                                            <dt>Waktu</dt>
                                            <dd>
                                                <span>{{ teach.batch.start_date|date:"d-M-Y" }}</span> -
                                                <span>{{ teach.batch.end_date|date:"d-M-Y"}}</span>
                                            </dd>
                                        </dl>
                                    {% endif %}
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'website:courses:details' teach.batch.course.slug %}"
                                       class="btn btn-primary btn-block">Detil Kursus</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
