{% extends 'website/base-top-nav.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 mb-3"><h1 class="m-0 text-dark"> {{ title }}</h1></div>
    {% for course in courses %}
        <div class="col-lg-3">
            {% include 'partials/card-course.html' with course=course progress_bar=progress_bar %}
        </div>
    {% empty %}
            <div class="col-md-12 mb-3 card p-3"><h2 class="m-0 text-dark">Tidak ada materi yang tersedia.</h2></div>
    {% endfor %}
  </div>
  <!-- /.row -->
{% endblock %}