{% extends 'website/base-quiz.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">{% trans "List of quizzes" %}</h3>

				<div class="card-tools">
					<form action="" method="get">
						<div class="form-group">
							<div class="input-group">
								<input name="q" type="text" class="form-control form-control-sm" value="{{ request.GET.q}}">
								<div class="input-group-addon">
									<button class="btn btn-primary btn-sm" type="submit">{% trans "Find" %}</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="card-body">
				{% if quiz_list %}
					<table id="table_quiz" class="table table-bordered table-striped table-quiz">

					<thead>
						<tr>
						<th>{% trans "Title" %}</th>
						<th>{% trans "Category" %}</th>
						<th>{% trans "Exam" %}</th>
						<th>{% trans "Single attempt" %}</th>
						<th>{% trans "Schedule" %}</th>
						<th></th>
						</tr>
					</thead>

					<tbody>

					{% for quiz in quiz_list %}

						<tr>
						<td>{{ quiz.title }}</td>
						<td>{{ quiz.category }}</td>
						<td>{% if quiz.exam_paper %}<i class="fas fa-check text-success text-lg"></i>{% else %}<i class="fas fa-times text-danger text-lg"></i>{% endif %}</td>
						<td>{% if quiz.single_attempt %}<i class="fas fa-check text-success text-lg"></i>{% else %}<i class="fas fa-times text-danger text-lg"></i>{% endif %}</td>
						<td>{% if quiz.any_schedule %}{{ quiz.start_time.date }} <br> {{ quiz.start_hour_with_tz }} - {{ quiz.end_hour_with_tz }} {% else %} - {% endif %}</td>
						<td>
							<a href="{% url 'quiz_start_page' slug=quiz.url %}" class="btn btn-info">
								<i class="fas fa-eye"></i> {% trans "View details" %}
							</a>
						</tr>

					{% endfor %}
					</tbody>

					</table>
					<div class="pagination">
						<ul class="pagination pagination-sm float-right">
							{% if page_obj.has_previous %}
								<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
							{% endif %}
							{% for i in paginator.page_range %}
							{% if page_obj.number == i %}
								<li class="page-item active"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
							{% else %}
								<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
							{% endif %}
							{% endfor %}
							
							{% if page_obj.has_next %}
								
								<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
								<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a></li>
							{% endif %}
						</ul>
						{% comment %} Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. {% endcomment %}
					</div>

				{% else %}
					<p>{% trans "There are no available quizzes" %}.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block extra_js %}
<script>
	{% comment %} $(function(){
		$(document).ready(function() {
			$('#table_quiz').DataTable({
				"iDisplayLength": 30
			});
		} );
	}) {% endcomment %}
</script>
{% endblock extra_js %}


