{% extends 'website/base-quiz.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}
{% trans "Result of" %} {{ sitting.quiz.title }} {% trans "for" %} {{ sitting.user }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h2>{{ sitting.quiz.title }}</h2>
				<br>
				<div class="callout callout-info">
				<h5><i class="fas fa-tags"></i> {% trans "Category" %}: {{ sitting.quiz.category }}</h5>
				{{ sitting.quiz.description }}
				</div>
			</div>
			<div class="card-body">
				<dl class="row">
					<dt class="col-sm-1">{% trans "User" %}</dt>
					<dd class="col-sm-11">{{ sitting.user }}</dd>
					<dt class="col-sm-1">{% trans "Completed" %}</dt>
					<dd class="col-sm-11">{{ sitting.end|date }}</dd>
					<dt class="col-sm-1">{% trans "Score" %}</dt>
					<dd class="col-sm-11">{{ sitting.get_percent_correct }}%</dd>
				</dl>

				<table class="table table-bordered table-striped">
					<thead>
					  <tr>
						<th>{% trans "Question" %}</th>
						<th>{% trans "User answer" %}</th>
						<th>{% trans "Status" %}</th>
						<th></th>
					  </tr>
					</thead>				  
					<tbody>
				  {% for question in questions %}				  
					  <tr>
						<td>
						  {{ question.content }}
						  {% if question.figure %}
						  <div style="max-width: 100px;"><img src="{{ question.figure.url }}" alt="{{ question.figure }}"/></div>
						  {% endif %}
						</td>
						<td>{{ question|answer_choice_to_string:question.user_answer }}</td>
						<td>
						  {% if question.id in sitting.get_incorrect_questions %}
							<p>{% trans "incorrect" %}</p>
						  {% else %}
							<p>{% trans "Correct" %}</p>
						  {% endif %}
						</td>
						<td>
						  <form action="" method="POST">{% csrf_token %}
							<input type=hidden name="qid" value="{{ question.id }}">
							<button type="submit" class="btn btn-warning">{% trans "Toggle whether correct" %}</button>
						  </form>
						</td>
					  </tr>				  
				  {% endfor %}				  
					</tbody>				  
				  </table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
