{% extends 'website/base-top-nav.html' %}
{% load tags_courses %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'website/css/custom.css' %}">
{% endblock  %}

{% block content %}
<div class="row">

    <div class="col-md-8">
        <div class="card">
            <img class="card-img-top" src="{{ course.get_featured_image_url }}" alt="{{ course.featured_image.name}}">
            <div class="card-body">
                <h1>{{ course.title }}</h1>
                <small><i class="fas fa-user-edit"></i> {{ course.author_name|capfirst }}</small>

                <nav class="mt-5">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Deskripsi</a>
                      <a class="nav-item nav-link" id="nav-module-tab" data-toggle="tab" href="#nav-module" role="tab" aria-controls="nav-profile" aria-selected="false">Modul</a>
                    </div>
                  </nav>
                  <div class="tab-content pt-4" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                        {% if "MARKDOWN_CONTENT"|get_toggle %}
                            {{ course.description_md|show_markdown|safe }}
                        {% else %}
                            {{ course.description|safe }}
                        {% endif %}
                    </div>

                    <div class="tab-pane fade" id="nav-module" role="tabpanel" aria-labelledby="nav-module-tab">
                        <div class="">
                            {% include 'partials/module-section-list.html' %}

                            {% if user.is_superuser %}
                                {% include 'partials/module-section-list.html' %}
                            {% endif %}
                          </div>
                    </div>
                  </div>                
            </div>
        </div>
    </div>

    <div class="col-md-4">
        {% include 'partials/sidebar-content.html' %}
    </div>
</div>
  <!-- /.row -->

{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function(){
        $("#addToCart").click(function(){
            toCart()
        });
        $("#buyCourse").click(function(){
            toCart(redirect=true)
        });
    });

function toCart(redirect=false) {
    $.ajax({
        type: "POST",
        headers:{"X-CSRFToken": `{{csrf_token}}` },
        url: `{% url 'website:carts:add_item' course.product.id %}`,
        dataType: 'json',
        success: function (data) {
            if (redirect){
                location.href = "{% url 'website:carts:index' %}"
            }else{
                if (data.message){
                    Swal.fire(
                      'Opps...',
                      data.message,
                      'info',
                    )
                }else{
                    Swal.fire(
                      'Berhasil Ditambahkan!',
                      'Kursus: {{ course.title }}',
                      'success'
                    )
                }
            }
        },
        error: function (data) {
            if (data.status == 500) {
                alert("Terjadi kesalahan, mohon refresh halaman.");
            }
        }
    });
    return false;
};
</script>
{% endblock %}