{% load i18n %}
{% if previous.answers %}

  {% if user_was_incorrect %}
    <div class="alert alert-error">
  	  <strong>{% trans "You answered the above question incorrectly" %}</strong>
	</div>
  {% else %}
  	<div class="alert alert-success">
		<strong>{% trans "You answered the above question correctly" %}</strong>
	</div>
  {% endif %}

  <table class="table table-bordered">
    <tbody>
	{% for answer in previous.answers %}	
        {% if answer.correct and quiz.show_correct_answer %}
  	    <tr class="table-success">
  		  <td>{{ answer.content }}</td>
  		  <td><strong>{% trans "This is the correct answer" %}</strong></td>
        {% else %}
  		<tr>
      	  <td style="width:50%">{{ answer.content }}</td>
  		  <td>
  			{% if previous.question_type.MCQuestion %}
				{% if answer.id|add:"0" == previous.previous_answer|add:"0" %}
					{% trans "This was your answer." %}
				{% endif %}
			{% elif answer.id|add:"0" == user_answer|add:"0" %}
				{% trans "This was your answer." %}
  			{% endif %}
  		  </td>
  	  {% endif %}
  	    </tr>
  	{% endfor %}
    </tbody>
  </table>
  {% if quiz.show_correct_answer %}
  <br>
  <p><strong>{% trans "Explanation" %}:</strong></p>
  <div class="attachment-block clearfix">
	<p>
		{% if explanation %}
			{{ explanation|safe }}
		{% elif previous.previous_question.explanation %}
			{{ previous.previous_question.explanation|safe }}
		{% endif %}
	</p>
  </div>
  {% endif %}
{% endif %}
