{% extends 'website/base-quiz.html' %}
{% load i18n%}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
		{% if quiz.any_schedule %}
			<h3 class="text-danger"><small>{% trans "Remaining time" %}:</small> <span id="timeOut">-<span></h3>
		{% endif %}

		{% if question %}

		<div style="background-color:#e9ecef; padding:0.75rem 1rem 0.15rem 1rem; margin-bottom:1rem;">
			{% if progress %}
			<div class="float-right">
				{% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}
			</div>
			{% endif %}

			<p>
				<span class="muted">{% trans "Question category" %}:</span>
				<strong>{{ question.category }}</strong>
			</p>
		</div>
		<div class="card">
			<div class="card-header">
				<h5 class="lead">{{ question.content }}</h5>
				{% if question.figure %}
					<img src="{{ question.figure.url }}" alt="{{ question.content }}" />
				{% endif %}
			</div>
			<form action="" method="POST">{% csrf_token %}
				<div class="card-body">
					<input type=hidden name="question_id" value="{{ question.id }}">
					<ul class="list-group">
						{% for answer in form.answers %}
						<li class="list-group-item">
							{{ answer }}
						</li>
						{% endfor %}
					</ul>			
				</div>
				<div class="card-footer">
					<input type="submit" value={% trans "Check" %} class="btn btn-large btn-block btn-warning" >
				</div>
			</form>
		</div>
		{% endif %}

		{% if previous.answers %}
			<br>
			<hr>
			<br>
			<div class="card">
				<div class="card-header">
				<h3 class="card-title">{% trans "The previous question" %}</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
					</button>
				</div>
				<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				<div class="card-body" style="display: block;">
					<div class="card">
						<div class="card-header">
							<h5 class="lead">{{ previous.previous_question }}</h5>
							{% if question.figure %}
								<img src="{{ question.figure.url }}" alt="{{ question.content }}" />
							{% endif %}
						</div>
						<div class="card-body">
							{% include 'correct_answer.html' %}
						</div>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
// Set the date we're counting down to
var countDownDate = new Date('{{ end_time|date:"M d, Y H:i:s" }}').getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("timeOut").innerHTML = hours + ":"
  + minutes + ":" + seconds;
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timeOut").innerHTML = "Time Out";
	document.location.reload();
  }
}, 1000);
</script>
{% endblock %}