{% extends 'base-adinusa.html' %}
{% load tags_products %}

{% block content %}
<section class="special_cource padding_top">
    <div class="container">
		<div class="card">
			<div class="card-header">
				<h3>{{ title }}</h3>
			</div>
            <div class="card-body">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <th>Nomor Order</th>
                        <th>Status</th>
                        <th>Tanggal Order</th>
                        <th>Aksi</th>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.number }}</td>
                                <td>{{ order.status|order_status_display:'True' }}</td>
                                <td>{{ order.created_at }}</td>
                                <td>
                                    <a class="btn btn-sm btn-pill btn-info" href="{% url 'website:orders:details' order.id %}">Detail</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
		</div>
	</div>
</section>
{% endblock %}