{% extends 'website/base-top-nav.html' %}
{% load tags_courses %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'website:index' %}">Beranda</a></li>
            <li class="breadcrumb-item"><a href="{% url 'website:courses:details' section.module.course.slug %}">Kursus</a></li>
            <li class="breadcrumb-item"><a href="{% url 'website:modules:details' section.module.slug %}">Modul</a></li>
            <li class="breadcrumb-item active">Section</li>
        </ol>
    </div>
    <div class="col-md-4">
        {% include 'partials/content-list.html' with module=section.module %}  
    </div> 
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h1>{{ section.title }}</h1>
            </div>
            <div class="card-body" id="course-content">
                {% if "MARKDOWN_CONTENT"|get_toggle %}
                    {{ section.content_md|show_markdown|safe }}
                {% else %}
                    {{ section.content|safe }}
                {% endif %}

                <!-- form pengumpulan tugas -->
                {% if file_not_found is None %}
                    {% include 'partials/form-task-upload.html' with form=form section=section task=task %}
                {% elif file_not_found is True %}
                    {% include 'partials/form-task-reupload.html' with form=form section=section task=task %}
                {% elif file_not_found is False %}
                    {% include 'partials/form-task-upload.html' with form=form section=section task=task %}
                {% endif %}
                <!-- alert pengumpulan semua tugas -->
                {% if not pagination.next and not is_complete_tasks %}
                    <div class="alert alert-warning alert-dismissible">
                        <h5><i class="icon fas fa-info"></i> Info!</h5>
                        Untuk menyelesaikan materi ini kamu harus mengumpulkan semua tugas yang diberikan. Yuk cek lagi mungkin masih ada tugas yang belum kamu kumpulkan.
                    </div>                   
                {% endif %}
            </div>

            <div class="card-footer">
                <!-- pagination -->
                {% include 'partials/pagination.html' with pagination=pagination section=section task=task %}                    
            </div>
        </div>
    </div> 
</div>
  <!-- /.row -->
{% endblock %}
