{% extends 'website/base-top-nav.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'website:index' %}">Beranda</a></li>
            <li class="breadcrumb-item"><a href="{% url 'website:courses:details' section.module.course.slug %}">Kursus</a></li>
            <li class="breadcrumb-item"><a href="{% url 'website:modules:details' section.module.slug %}">Modul</a></li>
            <li class="breadcrumb-item active">Section</li>
        </ol>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h1>Materi {{ section.title }}</h1>

                <div class="">
                    <div class="card-header">                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {{ section.content|safe }}

                        {% if section.is_task %}

                        {% endif %}

                    </div>
                    <!-- /.card-body -->

                    {% include 'partials/form-task-upload.html' with form=form section=section %}  

                    {% include 'partials/pagination.html' with pagination=pagination %}                    
                </div>

            </div>
        </div>
    </div>
    {% include 'partials/content-list.html' with module=section.module %}    
</div>
  <!-- /.row -->
{% endblock %}