{% extends 'website/base-top-nav.html' %}
{% load tags_courses %}
{% block content %}
<div class="row">
    {% include 'partials/preview-content-list.html' with module=section.module %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h1>Materi {{ section.title }}
                    {% if user.is_superuser %}
                        <a href="{% url 'backoffice:sections:edit' section.id %}" class="btn btn-outline-danger btn-sm float-right">Edit</a>
                    {% endif %}
                </h1>
            </div>

            <div class="card-body" id="course-content">
                {% if "MARKDOWN_CONTENT"|get_toggle %}
                    {{ section.content_md|show_markdown|safe }}
                {% else %}
                    {{ section.content|safe }}
                {% endif %}

                {% if user.is_superuser %}
                    {% include 'partials/form-task-preview.html' %}
                {% endif %}
            </div>

            <div class="card-footer">
                {% include 'partials/pagination-preview.html' with pagination=pagination %}
            </div>
        </div>
    </div>
</div>
  <!-- /.row -->
{% endblock %}
