{% extends 'website/base-top-nav.html' %}

{% block content %}
<div class="row">
    
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h1>Materi {{ section.title }}</h1>

                <div class="">
                    <div class="card-header">                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {{ section.content|safe }}
                    </div>
                </div>

                {% include 'partials/form-task-upload.html' with form=form section=section task=task %}

                {% include 'partials/pagination-preview.html' with pagination=pagination %}

            </div>
        </div>
    </div>
    {% include 'partials/preview-content-list.html' with module=section.module %}    
</div>
  <!-- /.row -->
{% endblock %}