from django.conf import settings

SESSION_COOKIE_DOMAIN = 'localhost'

HOST = 'http://localhost:8080'
NOLSATU_HOST = 'http://localhost:8000'

LOGIN_URL = f"{NOLSATU_HOST}/accounts/login/"
LOGOUT_URL = f"{NOLSATU_HOST}/accounts/logout/"
LOGOUT_REDIRECT_URL = HOST

NOLSATU_PROFILE_URL = f'{NOLSATU_HOST}/profile'
NOLSATU_PROFILE_PAGE_URL = f'{NOLSATU_HOST}/accounts/profile/'
LOGIN_URL = f"{NOLSATU_HOST}/accounts/login/?navbar=hidden"
LOGOUT_URL = f"{NOLSATU_HOST}/accounts/logout/"

# sentry on development
sentry_sdk.init(
    dsn="",
    integrations=[]
)

FORTUNA_SERVER_URL = "http://127.0.0.1:8000"
FORTUNA_CLIENT_ACCESS_TOKEN = "some_client_secret"

ENABLE_MOCK_USER=True
MOCK_USER="admin1"