{% extends 'backoffice/base-adminlte.html' %}
{% load static widget_tweaks %}

{% block extra_css %}
<style>
    .selector h2 {
        font-size: 1rem;
        margin: 0px;
    }
    .selector .selector-filter {
        font-size: 1rem !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="pull-left">
                {{ title }}
            </h4>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="row-fluid">
                    <div class="row">
                        <div class=" col-md-12 col-lg-12 ">
                            <h5>{{ title_extra }}</h5>
                        </div>
                        <div class=" col-md-12 col-lg-12 ">
                            <div class="tab-content">
                                {% csrf_token %}

                                {{ form.media }}
                                {{ form.non_field_errors }}
                                <div class="row">
                                    <div class="col-md-7">
                                        {% for field in form %}
                                            <div class="form-group" {% if field.name == 'questions' %} style="display: grid;" {% endif %}>
                                                {% if field.field.widget.input_type != 'checkbox' %}
                                                    <label class=""> {{ field.label }}</label>

                                                    <div class="mb-4">
                                                        {% if field.name == 'questions' %}
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <p>Sub Kategori</p>
                                                                    <select id="sub-category" class="form-control" onchange="getQuestions()">
                                                                        <option value="">---------</option>
                                                                    </select>
                                                                    <small class="form-text text-muted">Saring pertanyaan berdasarkan sub kategori</small>
                                                                    <br>
                                                                    {% render_field field|add_class:"form-control" %}
                                                                </div>
                                                            </div>
                                                        {% else %}                                                            
                                                            {% render_field field|add_class:"form-control" %}
                                                        {% endif %}
                                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                                        <small class="form-text text-danger">{{ field.errors }}</small>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="offset-md-1"></div>
                                    <div class="col-md-4">
                                        {% for field in form %}
                                            <div class="form-group">
                                                {% if field.field.widget.input_type == 'checkbox' %}
                                                    <label class=""> {{ field.label }}</label>

                                                    <div class="mb-4">  
                                                        {% render_field field%}
                                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                                        <small class="form-text text-danger">{{ field.errors }}</small>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success btn-user float-right">
                    {% if title_submit %} {{ title_submit }} {% else %} Submit {% endif %}
                </button>
            </div>
    </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        getSubCategory();
        getQuestions();

        startTime = $("#id_start_time").val();
        endTime = $("#id_end_time").val();

        flatpickr("#id_start_time", {
            enableTime: true,
            dateFormat: "d-m-Y H:i",
            time_24hr: true,
            defaultDate: startTime
        });

        flatpickr("#id_end_time", {
            enableTime: true,
            dateFormat: "d-m-Y H:i",
            time_24hr: true,
            defaultDate: endTime
        });
        console.log(startTime, endTime);
	});

    $("#id_category").change(function() {
        getSubCategory();
    });

    $(document).on('click',
        '#id_questions_add_all_link, #id_questions_add_link, '+
        '#id_questions_remove_link, #id_questions_remove_all_link',function(e) {
        getQuestions();
    });

    function getSubCategory(){
        category = $('#id_category').val();
        list_sub_category = $('#sub-category');
        $.ajax({
            url: '{% url "backoffice:quizzes:ajax_filter_sub_category" %}',
            data: {
                'category': category
            },
            dataType: 'json',
            success: function (data) {
                list_sub_category.html("'<option value=''>---------</option>'");  
                $.each(data.sub_category, function(key,value) {
                    list_sub_category.append(
                        '<option value="'+value.id+'">'+value.name+'</option>'
                    );                   
                });                      
            },
            error: function (data) {
                if (data.status == 500) {
                    alert("Terjadi kesalahan, mohon refresh halaman.");
                }
            }
        }); 
    }

    function getQuestions(){
        sub_category = $('#sub-category').val();
        list_questions = $('#id_questions_from');

        var toValues = [];
        $('#id_questions_to option').each(function() {
            toValues.push($(this).val());
        });
        
        $.ajax({
            url: '{% url "backoffice:quizzes:ajax_filter_questions" %}',
            data: {
                'sub_category': sub_category
            },
            dataType: 'json',
            success: function (data) {
                list_questions.html('');
                $.each(data.questions, function(key,value) {
                    if(toValues.indexOf(String(value.id)) === -1){
                        list_questions.append(
                            '<option value="'+value.id+'" title="'+value.name+'">'+value.name+'</option>'
                        );
                    }                   
                });                      
            },
            error: function (data) {
                if (data.status == 500) {
                    alert("Terjadi kesalahan, mohon refresh halaman.");
                }
            }
        }); 
    }
</script>
{% endblock %}