{% extends 'website/base-top-nav.html' %}

{% block content %}
<div class="row">
    
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h1>Modul {{ module.title }}</h1>
            </div>
  
            <div class="card-body" id="course-content">
                {{ module.description|safe }}
            </div>

            <div class="card-footer">
                {% include 'partials/pagination-preview.html' with pagination=pagination %}
            </div>
        </div>
    </div>
    {% include 'partials/preview-content-list.html' with module=module %}    
</div>
  <!-- /.row -->
{% endblock %}

{% block extra_js %}
    <script language="JavaScript">
        document.addEventListener("contextmenu", function(e){
            e.preventDefault();
        }, false);
    </script>
{% endblock %}

{% block extra_css %}
    <style>
        #course-content {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
{% endblock %}