{% extends 'website/base-top-nav.html' %}

{% block content %}
<div class="row">
    
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h1>Modul {{ module.title }}</h1>

                <div class="">
                    <div class="card-header">                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {{ module.description|safe }}
                    </div>
                </div>

                {% include 'partials/pagination-preview.html' with pagination=pagination %}
            </div>
        </div>
    </div>
    {% include 'partials/preview-content-list.html' with module=module %}    
</div>
  <!-- /.row -->
{% endblock %}