{% extends 'website/base-top-nav.html' %}

{% block content %}
<div class="row">
    
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h1>Modul {{ module.title }}</h1>
            </div>
  
            <div class="card-body" id="course-content">
                {{ module.description|safe }}
            </div>

            <div class="card-footer">
                {% include 'partials/pagination-preview.html' with pagination=pagination %}
            </div>
        </div>
    </div>
    {% include 'partials/preview-content-list.html' with module=module %}    
</div>
  <!-- /.row -->
{% endblock %}