{% extends 'website/base-top-nav.html' %}

{% block content %}
<section style="position:fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="container text-center">
        <h1 style="font-size: 104pt;">404</h2>
        <strong style="font-size: 21pt;">Halaman yang Anda cari tidak ditemukan</strong>
        <p class="guide">Mungkin alamat yang kamu masukkan salah atau alamat yang kamu tuju sudah tidak terdaftar</p>
        <br><br>
        <a class="btn btn-{{color_theme}}" href="{% url 'website:index' %}">Kembali ke Kursus</a>
    </div>
</section>
{% endblock %}