{% extends 'base-adinusa.html' %}
{% load static tags_courses %}

{% block content %}
<section class="special_cource padding_top">
    <div class="container">
		<div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>{{ title }}</h2>
                </div>
            </div>
        </div>
		<div class="row">
			{% if courses %}
				{% for course in courses %}
					<div class="col-sm-4">
						<div class="card">
							<div class="card-body">
								<div class="row mb-4">
									<div class="col-6 dropdown">
										<span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
											<i class="fas fa-ellipsis-h"></i>
										</span>
										<div class="dropdown-menu m-0 p-0">
											<a class="dropdown-item" href="{% url 'website:modules:details' course.course.get_first_module.slug %}">Masuk Kelas</a>
											<a class="dropdown-item" href="{% url 'website:courses:details' course.course.slug %}">Detail Kursus</a>
											<a class="dropdown-item" href="{% url 'website:courses:user_tasks' course.course.id %}">Nilai Tugas</a>
											<a class="dropdown-item" href="{% url 'website:courses:user_quizzes' course.course.id %}">Nilai Kuis</a>
										</div>
									</div>
									<div class="col-6">
										<span class="float-right">
											{{ course.status_enroll|enrollment_status_display:'True' }}
										</span>
									</div>
								</div>
								<h5 class="card-title">{{ course.course.title }}</h5>
								<div class="row">
									<div class="col-10">
										<div class="progress progress-xs">
											<div class="progress-bar bg-primary progress-bar-striped" role="progressbar" aria-valuenow="{{ course.progress_precentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ course.progress_precentage }}%"></div>
										</div>
									</div>
									<strong class="col-2">{{ course.progress_precentage }}%</strong>	
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<p>Tidak ada kursus yang diikuti.</p>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}
