{% extends 'website/base-top-nav.html' %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'website:courses:user_courses' %}">Daftar Materimu</a></li>
			<li class="breadcrumb-item active">Hasil Kuis</li>
		</ol>
	</div>
  	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h2>{{ title }}</h2>
			</div>
			<div class="card-body">
				{% if sittings %}
					<table class="table table-bordered table-striped">

					<thead>
						<tr>
							<th>Kuis</th>
							<th>Nilai</th>
						</tr>
					</thead>

					<tbody>

					{% for sitting in sittings %}

						<tr>
							<td>{{ sitting.quiz.title }}</td>
							<td>{{ sitting.get_percent_correct }}</td>
						</tr>

					{% endfor %}
					</tbody>

					</table>

				{% else %}
					<p>Tidak ada kuis yang diikuti.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
