{% extends 'base-adinusa.html' %}

{% block extra_css %}
<style>
	.blog_item_img {
		position: static;
	}

	.blog_item_img .blog_item_date {
		position: static;
		bottom: 0px;
		left: 0px;
		display: block;
		color: #fff;
		background-color: #4D94FF;
		padding: 8px 15px;
		border-radius: 5px;
	}
</style>
{% endblock %}

{% block content %}
<section class="special_cource padding_top">
    <div class="container">
		<div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
					<h2>Nilai Kuis</h2>
                    <h4 class="mt-5">{{ title }}</h4>
                </div>
            </div>
        </div>
		<div class="row">
			{% if sittings %}
				{% for sitting in sittings %}
					<div class="col-sm-4 mb-4">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-5">
										<div class="blog_item_img mb-0">
											<h1 class="text-center blog_item_date">{{ sitting.get_percent_correct }}</h1>
										</div>
									</div>
									<div class="col-md-7">
										<div class="card-title">{{ sitting.quiz.title }}</div>
										{% if sitting.check_if_passed %}
										<span class="badge badge-success">Lulus</span>
										{% else %}
										<span class="badge badge-danger">Tidak Lulus</span>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<p>Tidak ada kuis yang diikuti.</p>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}
