{% extends 'backoffice/base-adminlte.html' %}
{% load tags_courses %}
{% block content %}
<div class="col-sm-12">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'backoffice:courses:index'%}">Kursus</a></li>
        <li class="breadcrumb-item"><a href="{% url 'backoffice:modules:index' module.course.id%}">Modul</a></li>
        <li class="breadcrumb-item active">Detail Modul</li>
    </ol>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="pull-left">
                {{ title }}
            </h4>
        </div>
        <div class="card-body">
            <div class="row-fluid">
                <div class="row">
                    <div class=" col-md-12 col-lg-12 ">
                        <div class="tab-content">
                            <table class="table table-condensed">
                                <tr>
                                    <td width="200px">
                                        <label>Judul</label>
                                    </td>
                                    <td>
                                        {{ module.title }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Deskripsi</label>
                                    </td>
                                    <td>
                                        {% if "MARKDOWN_CONTENT"|get_toggle %}
                                            {{ module.description_md|show_markdown|safe }}
                                        {% else %}
                                            {{ module.description|safe }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Slug</label>
                                    </td>
                                    <td>
                                        {{ module.slug }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Urutan</label>
                                    </td>
                                    <td>
                                        {{ module.order }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Kursus</label>
                                    </td>
                                    <td>
                                        {{ module.course }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'backoffice:modules:index' module.course.id %}" class="btn btn-sm btn-outline-primary float-right ml-2">Kembali ke Modul</a>
        </div>

    </div>
</div>
{% endblock %}
